body{
    background-image: url('https://github.com/sbetancurb/pokemonda/blob/main/colores-vibrantes-rocian-caos-murallas-ciudad-generadas-ia.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
}